<div metal:use-macro="load: ../shared/_layout.html">
	<__content__ metal:fill-slot="content" tal:omit-tag="True">



		<div metal:use-macro="load: ../shared/_dashboard_menu.html">

			<__dashboard_header__ metal:fill-slot="dashboard_header" tal:omit-tag="True">
				<div class="breadcrumbs">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="breadcrumbs-content">
									<h1 class="page-title">Minha Conta</h1>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<ul class="breadcrumb-nav">
									<li><a href="/">Página Principal</a></li>
									<li>Minha Conta</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</__dashboard_header__>

			<__dashboard_content__ metal:fill-slot="dashboard_content" tal:omit-tag="True">
				<div class="col-lg-9 col-md-8 col-12">
					<div class="main-content">
						<div class="details-lists">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-12">
									<div class="single-list two">
										<div class="list-icon">
											<i class="lni lni-heart"></i>
										</div>
										<h3>23<span>Anúncios Favoritos </span></h3>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-12">
									<div class="single-list">
										<div class="list-icon">
											<i class="lni lni-checkmark-circle"></i>
										</div>
										<h3>340<span>Anúncios Publicados</span></h3>
									</div>
								</div>

								<div class="col-lg-4 col-md-4 col-12">
									<div class="single-list three">
										<div class="list-icon">
											<i class="lni lni-emoji-sad"></i>
										</div>
										<h3>45<span>Anúncios Expirados </span></h3>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12 col-12">
								<div class="recent-items dashboard-block">
									<h3 class="block-title">Meus Anúncios</h3>
									<ul>
										<__repeat__ tal:repeat="item list_user_items" tal:omit-tag="True">
										<li>
											<div class="image">
												<a href="javascript:void(0)"><img src="${items_images_url}\${item.main_image_url}" alt="#"/></a>
											</div>
											<a href="javascript:void(0)" class="title">${item.title}</a>
										</li>
										</__repeat__>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</__dashboard_content__>

		</div>



	</__content__>
</div
