<div metal:use-macro="load: ../shared/_layout.html">
	<__content__ metal:fill-slot="content" tal:omit-tag="True">



		<div metal:use-macro="load: ../shared/_dashboard_menu.html">

			<__dashboard_header__ metal:fill-slot="dashboard_header" tal:omit-tag="True">
				<div class="breadcrumbs">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="breadcrumbs-content">
									<h1 class="page-title">Fechar Conta</h1>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<ul class="breadcrumb-nav">
									<li><a href="/">Página Principal</a></li>
									<li>Fechar Conta</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</__dashboard_header__>

			<__dashboard_content__ metal:fill-slot="dashboard_content" tal:omit-tag="True">
					<div class="col-lg-9 col-md-8 col-12">
						<div class="main-content">
							<div class="dashboard-block close-content mt-0">
								<h2>Eliminar a sua conta</h2>
								<h4>Tem certeza que deseja eliminar a sua conta?</h4>
								<div class="button">
									<a href="javascript:void(0)" class="btn">Eliminar Conta</a>
									<a href="javascript:void(0)" class="btn btn-alt">Cancelar</a>
								</div>
							</div>
						</div>
					</div>
			</__dashboard_content__>

		</div>



	</__content__>
</div