<div metal:use-macro="load: ../shared/_layout.html">
	<__content__ metal:fill-slot="content" tal:omit-tag="True">

		<div class="breadcrumbs">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-md-6 col-12">
						<div class="breadcrumbs-content">
							<h1 class="page-title">Entrar</h1>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-12">
						<ul class="breadcrumb-nav">
							<li><a href="/">Página Principal</a></li>
							<li>Entrar</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<section class="login section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
						<div class="form-head">
							<h4 class="title">Entrar</h4>

							<div tal:condition="error" class="error-msg"> ${error_msg} </div>

							<form action="/account/login" method="POST">
								<div class="form-group">
									<label>Email</label>
									<input name="email_addr" type="email" required value="${email_addr}">
								</div>
								<div class="form-group">
									<label>Palavra-passe</label>
									<input name="password" type="password" value="${password}">
								</div>
								<div class="check-and-pass">
									<div class="row align-items-center">
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-check">
												<input type="checkbox" class="form-check-input width-auto" id="exampleCheck1"/>
												<label class="form-check-label">Remember me</label>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<a href="javascript:void(0)" class="lost-pass">Esqueceu-se da palavra-passe?</a>
										</div>
									</div>
								</div>
								<div class="button">
									<button type="submit" class="btn">Iniciar Sessão</button>
								</div>
								<div class="alt-option">
									<span> Ou </span>
								</div>
								<div class="socila-login">
									<ul>
										<li>
											<a href="javascript:void(0)" class="facebook">
                                                <i class="lni lni-facebook-original"></i>
                                                Entrar com o Facebook
                                            </a>
										</li>
										<li>
											<a href="javascript:void(0)" class="google">
                                                <i class="lni lni-google"></i>
                                                Entrar com o Google
                                            </a>
										</li>
									</ul>
								</div>
								<p class="outer-link"> Não tem uma conta? <a href="/account/register">Registar aqui</a></p>
							</form>

						</div>
					</div>
				</div>
			</div>
		</section>

	</__content__>
</div>
