<div metal:use-macro="load: ../shared/_layout.html">
	<__content__ metal:fill-slot="content" tal:omit-tag="True">



		<div metal:use-macro="load: ../shared/_dashboard_menu.html">

			<__dashboard_header__ metal:fill-slot="dashboard_header" tal:omit-tag="True">
				<div class="breadcrumbs">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-6 col-md-6 col-12">
								<div class="breadcrumbs-content">
									<h1 class="page-title">Messages</h1>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-12">
								<ul class="breadcrumb-nav">
									<li><a href="/">Home</a></li>
									<li>Messages</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</__dashboard_header__>
			<__dashboard_content__ metal:fill-slot="dashboard_content" tal:omit-tag="True">
				<div class="col-lg-9 col-md-8 col-12">
					<div class="main-content">
						<div class="dashboard-block mt-0 pb-0">
							<h3 class="block-title mb-0">Messages</h3>
							<div class="messages-body">
								<div class="row">
									<div class="col-lg-12 col-12">
										<div class="user-list">
											
			
											<ul>
												<tal:block tal:repeat="room chatrooms.items()">
													<tal:block tal:define="message room[1]">
														<li>
															<a href="/account/chat?user=${message['other_user'].user_id}&item=${message['item'].id}">
																<div class="image"><img src="${items_images_url}/${message['item'].main_image_url}" alt="#" /></div>
																<span class="username">${message['other_user'].name}</span>
																<span class="short-message">${message['message'].message}</span>
																<span class="unseen-message" tal:condition="message['unread'] != 0">${message['unread']}</span>
															</a>
														</li>
													</tal:block>
												</tal:block>																						
											</ul>
										</div>
									</div>									
							</div>
						</div>
					</div>
				</div>
			</__dashboard_content__>

		</div>



	</__content__>
</div
