<div metal:use-macro="load: ../shared/_layout.html">
	<__content__ metal:fill-slot="content" tal:omit-tag="True">
		
		<!-- Start Main -->
		<main id="main">
			
			<!-- Start Breadcrumbs -->
			<div class="breadcrumbs">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6 col-12">
							<div class="breadcrumbs-content">
								<h1 class="page-title">Detalhes do Anúncio</h1>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-12">
							<ul class="breadcrumb-nav">
								<li><a href="/">Página Principal</a></li>
								<li>Detalhes do Anúncio</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Breadcrumbs -->


			<!-- Start item/post not found Section -->
			<section tal:condition="error"  tal:omit-tag="True" id="adPostDetails" class="adPostDetails">
				<div class="error-msg"> ${error_msg} </div>
			</section>
			<!--/ End item/post not found Section -->


			<__if__ tal:condition="not error" tal:omit-tag="True" id="adPostDetails" class="adPostDetails">
				<!-- Start Item details Section -->
				<section class="item-details section">
					<div class="container">
						<div class="top-area">
							<div class="row">
								<div class="col-lg-6 col-md-12 col-12">
									<div class="product-images">
										<main id="gallery">
											<div class="main-img">
												<img src="${items_images_url}/${item.main_image_url}" id="current" alt="#"/>
											</div>
											<div class="images">
												<img src="${items_images_url}/${item.main_image_url}" class="img img-alt"  alt="#" tal:condition="item.main_image_url != ''" />
												<img src="${items_images_url}/${item.image1_url}" class="img img-alt" alt="#" tal:condition="item.image1_url != ''" />
												<img src="${items_images_url}/${item.image2_url}" class="img img-alt" alt="#" tal:condition="item.image2_url != ''" />
												<img src="${items_images_url}/${item.image3_url}" class="img img-alt" alt="#" tal:condition="item.image3_url != ''" />
												<img src="${items_images_url}/${item.image4_url}" class="img img-alt" alt="#" tal:condition="item.image4_url != ''" />
											</div>
										</main>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-12">
									<div class="product-info">
										<h2 class="title">${item.title}</h2>
										<p class="location">
											<i class="lni lni-map-marker"></i><a href="javascript:void(0)">${item.district.name}</a>
										</p>
										<h3 class="price">${item.price}€</h3>
										<!-- ainda não implementado
										<div class="list-info">
											<h4>Informações</h4>
											<ul>
												<li><span>Condições:</span> New</li>
												<li><span>Brand:</span> Apple</li>
												<li><span>Model:</span> Mackbook Pro</li>
											</ul>
										</div>
										-->
										<div class="contact-info">
											<ul>
												<!-- ainda não implementado
												<li>
													<a href="tel:+002562352589" class="call">
														<i class="lni lni-phone-set"></i>
														256 235 258
														<span>Call & Get more info</span>
													</a>
												</li>
												-->
												<li>
													<a href="/cdn-cgi/l/email-protection#95f0edf4f8e5f9f0d5f2f8f4fcf9bbf6faf8" class="mail">
														<i class="lni lni-envelope"></i>
													</a>
												</li>
											</ul>
										</div>
										<div class="social-share">
											<h4>Partilhe o Anúncio</h4>
											<ul>
												<li>
													<a href="https://www.facebook.com/sharer/sharer.php?u=${url_website}/adPost/${item.id}" target="_blank" class="facebook"><i class="lni lni-facebook-filled"></i></a>
												</li>
												<li>
													<a href="https://twitter.com/share?url=${url_website}/adPost/${item.id}" target="_blank" class="twitter"><i class="lni lni-twitter-original"></i></a>
												</li>
												<li>
													<a href="https://plus.google.com/share?url=${url_website}/adPost/${item.id}" target="_blank" class="google"><i class="lni lni-google"></i></a>
												</li>
												<li>
													<a href="https://www.linkedin.com/shareArticle?url=${url_website}/adPost/${item.id}" target="_blank" class="linkedin"><i class="lni lni-linkedin-original"></i></a>
												</li>
												<li>
													<a href="https://pinterest.com/pin/create/button/?url=${url_website}/adPost/${item.id}" target="_blank" class="pinterest"><i class="lni lni-pinterest"></i></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item-details-blocks">
							<div class="row">
								<div class="col-lg-8 col-md-7 col-12">
									<div class="single-block description">
										<h3>Descrição</h3>
										<p>${item.description}</p>
									</div>
									<div class="single-block comment-form">
										<h3>Poste um comentário</h3>
										<form action="#" method="POST">
											<div class="row">
												<div class="col-lg-6 col-12">
													<div class="form-box form-group">
														<input type="text" name="name" class="form-control form-control-custom" placeholder="Nome"/>
													</div>
												</div>
												<div class="col-lg-6 col-12">
													<div class="form-box form-group">
														<input type="email" name="email_addr" class="form-control form-control-custom" placeholder="Email"/>
													</div>
												</div>
												<div class="col-12">
													<div class="form-box form-group">
														<textarea name="#" class="form-control form-control-custom" placeholder="Escreva o seu comentário"></textarea>
													</div>
												</div>
												<div class="col-12">
													<div class="button">
														<button type="submit" class="btn">Adicione Comentário</button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
								<div class="col-lg-4 col-md-5 col-12">
									<div class="item-details-sidebar">
										<div class="single-block author">
											<h3>Anunciante</h3>
											<div class="content">
												<img src="${users_images_url}/${item.user.profile_image}" alt="#" />
												<h4>${item.user.name}</h4>
												<span>Membro desde ${user_created}</span>
												<a href="javascript:void(0)" class="see-all">Ver todos anúncios</a>
											</div>
										</div>

										<div class="single-block">
											<h3>Localização</h3>
											<div class="mapouter">
												<div class="gmap_canvas">
													<iframe 
														width="100%" 
														height="300" 
														id="gmap_canvas" 
														src="https://maps.google.com/maps?q=lisboa&t=&z=13&ie=UTF8&iwloc=&output=embed"
														frameborder="0"
														scrolling="no"
														marginheight="0"
														marginwidth="0"
													></iframe>
													<a href="https://putlocker-is.org"></a><br/>
													<style>
														.mapouter {
															position: relative;
															text-align: right;
															height: 300px;
															width: 100%;
														}
													</style>
													<a href="https://www.embedgooglemap.net">google map code for website</a>
													<style>
														.gmap_canvas {
															overflow: hidden; 
															background: none !important; 
															height: 300px; 
															width: 100%;
														}
													</style>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!--/ End Item details Section -->
			</__if__>

		</main>
		<!--/ End Main -->

	</__content__>
</div>
