<div metal:use-macro="load: ../shared/_layout.html">
	<__content__ metal:fill-slot="content" tal:omit-tag="True">

	<div class="breadcrumbs">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-6 col-12">
					<div class="breadcrumbs-content">
						<h1 class="page-title">Anúncios</h1>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-12">
					<ul class="breadcrumb-nav">
						<li><a href="/">Página Principal</a></li>
						<li>Anúncios</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<section class="category-page section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 col-12">
					<form action="/adPost" >
						<div class="category-sidebar">
							<div class="single-widget search">
								
								<h3>Procurar Anúncios</h3>
									<input id="search-bar" name="keyword" type="text" placeholder="Procure aqui..." />
								</div>

							<div class="single-widget search-form search-page wow fadeInUp">
								<h3>Categorias</h3>
								<ul class="search-form wow fadeInUp search-input ">
									<label for="category"><i class="lni lni-grid-alt theme-color"></i></label>
									<select name="category" id="category">
										<option value="none">Todas as Categorias</option>
										<__repeat__ tal:repeat="category list_category" tal:omit-tag="True">
											<option value=${category.name}>${category.name}</option>
										</__repeat__>
									</select>
								</ul>
							</div>

							<div class="single-widget search-form search-page wow fadeInUp">
								<h3>Localização</h3>
								<div class="search-input">
									<label for="location"><i class="lni lni-map-marker theme-color"></i></label>
									<select name="location" id="location">
										<option value="none">Todas as Localizações</option>
										<__repeat__ tal:repeat="district location_district" tal:omit-tag="True">
											<option value=${district.name}>${district.name}</option>
										</__repeat__>
									</select>
								</div>
							</div>


							<div class="single-widget range">
								<h3>Price Range</h3>
								<input type="range" class="form-range" name="range" step="1" min="0"
									max="1000" value="10" onchange="rangePrimary.value=value" />
								<div class="range-inner">
									<label>€</label>
									<input name="price" type="text" id="rangePrimary" placeholder="10" />
								</div>
							</div>
							<!-- opcional
							<div class="single-widget condition">
								<h3>Condition</h3>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value
										id="flexCheckDefault1" />
									<label class="form-check-label" for="flexCheckDefault1">Todos</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value
										id="flexCheckDefault2" />
									<label class="form-check-label" for="flexCheckDefault2">Novo</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value
										id="flexCheckDefault3" />
									<label class="form-check-label" for="flexCheckDefault3">Usado</label>
								</div>
							</div>
							
								<div class="single-widget banner">
									<h3>Advertisement</h3>
									<a href="javascript:void(0)">
										<img src="/static/assets/images/banner/banner.jpg" alt="#" />
									</a>
								</div>
								-->
							<div class="col-lg-2 col-md-2 col-12 p-0">
								<div class="search-btn button">
									<button class="btn"><i class="lni lni-search-alt"></i> Pesquisar</button>
								</div>
							</div>
						</div>
					</form>
				</div>

				<div class="col-lg-9 col-md-8 col-12">
					<div class="category-grid-list">
						<div class="row">
							<div class="col-12">
								<div class="category-grid-topbar">
									<div class="row align-items-center">
										<div class="col-lg-6 col-md-6 col-12">
											<nav>
												<div class="nav nav-tabs" id="nav-tab" role="tablist">
													<button class="nav-link active" id="nav-list-tab" data-bs-toggle="tab" data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list" aria-selected="true"><i	class="lni lni-list"></i></button>
													<button class="nav-link" id="nav-grid-tab" data-bs-toggle="tab" data-bs-target="#nav-grid" type="button" role="tab"	aria-controls="nav-grid" aria-selected="false"><i class="lni lni-grid-alt"></i></button>
												</div>
											</nav>
										</div>
									</div>
								</div>


								<div class="tab-content" id="nav-tabContent">
									<div tal:condition="error" class="error-msg"> ${error_msg} </div>
									<div class="tab-pane fade" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
										
										<div class="row">
											<__if__ tal:condition="search or latest_items" tal:omit-tag="True">
												<!-- Start Repeat search or Latest Ads (Loop For) -->
												<__repeat__ tal:repeat="item (search or latest_items)" tal:omit-tag="True">
													<div class="col-lg-4 col-md-6 col-12">
														<div class="single-item-grid">
															<div class="image">
																<a href="/adPost/${item.id}"><img src="${items_images_url}\${item.main_image_url}" alt="#"></a>
															</div>
															<div class="content">
																<a href="javascript:void(0)" class="tag">${item.subcategory.category.name} &nbsp;>&nbsp; ${item.subcategory.name}</a>
																<h3 class="title">
																	<a href="/adPost/${item.id}">${item.title}</a>
																</h3>
																<p class="location">
																	<a href="javascript:void(0)"><i	class="lni lni-map-marker"></i>${item.district.name}</a></p>
																<ul class="info">
																	<li class="price">${item.price}€</li>
																	<li tal:condition="is_logged_in" class="like toggle_favorite" data-id="${item.id}"><a href="javascript:void(0)"><i tal:attributes="class python: ' fa fa-heart favorited' if item.id in favorites else 'fa fa-heart-o'"></i></a></li>
																</ul>
															</div>
														</div>
													</div>
												</__repeat__>
												<!--/ End Repeat search or Latest Ads (Loop For) -->
											</__if__>		
										</div>
										<div class="row">
											<div class="col-12">
												<div class="pagination left">
													<ul class="pagination-list">
														<__if__ tal:condition="search or latest_items" tal:omit-tag="True">
															<__repeat__ tal:repeat="page range(num_pages)" tal:omit-tag="True">
																<li tal:attributes="class python: 'active' if (page+1)==int(current_page) else ''"><a class="pagination-link" data-page="${page+1}" data-view="grid" href="?page=${page+1}&view=grid">${page+1}</a></li>
															</__repeat__>
														</__if__>
													</ul>													
												</div>

											</div>
										</div>

									</div>

									
									<div class="tab-pane fade show active" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
										<div class="row">
											<__if__ tal:condition="search or latest_items" tal:omit-tag="True">
												<!-- Start Repeat search or Latest Ads (Loop For) -->
												<__repeat__ tal:repeat="item (search or latest_items)" tal:omit-tag="True">
													<div class="col-lg-12 col-md-12 col-12">
														<div class="single-item-grid">
															<div class="row align-items-center">
																
																<div class="col-lg-5 col-md-7 col-12">
																	<div class="image">
																		<a href="/adPost/${item.id}"><img src="${items_images_url}\${item.main_image_url}" alt="#"></a>
																	</div>
																</div>
																<div class="col-lg-7 col-md-5 col-12">
																	<div class="content">
																		<a href="javascript:void(0)" class="tag">${item.subcategory.category.name} &nbsp;>&nbsp; ${item.subcategory.name}</a>
																		<h3 class="title">
																			<a href="/adPost/${item.id}">${item.title}</a>
																		</h3>
																		<p class="location"><a href="javascript:void(0)">
																			<i class="lni lni-map-marker"></i>${item.district.name}</a></p>
																		<ul class="info">
																			<li class="price">${item.price}€</li>
																			<li tal:condition="is_logged_in" class="like toggle_favorite" data-id="${item.id}"><a href="javascript:void(0)"><i tal:attributes="class python: ' fa fa-heart favorited' if item.id in favorites else 'fa fa-heart-o'"></i></a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</__repeat__>
												<!--/ End Repeat search or Latest Ads (Loop For) -->
											</__if__>					
										</div>
										
										
										<div class="row">
											<div class="col-12">
												<div class="pagination left">
													<ul class="pagination-list">
														<__if__ tal:condition="search or latest_items" tal:omit-tag="True">
															<__repeat__ tal:repeat="page range(num_pages)" tal:omit-tag="True">
																<li tal:attributes="class python: 'active' if (page+1)==int(current_page) else ''"><a class="pagination-link" data-page="${page+1}" data-view="list" href="?page=${page+1}&view=grid">${page+1}</a></li>
															</__repeat__>
														</__if__>
													</ul>
												</div>
											</div>
										</div>									
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	</__content__>
</div>
