<div metal:use-macro="load: ../shared/_layout.html">
    <__content__ metal:fill-slot="content" tal:omit-tag="True">

        <main id = "main">
            <!-- Start Breadcrumbs -->
            <div class="breadcrumbs">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="breadcrumbs-content">
                                <h1 class="page-title">Como funciona</h1>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <ul class="breadcrumb-nav">
                                <li><a href="/">Página Principal</a></li>
                                <li>Como funciona</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Breadcrumbs -->

            <!-- Start How Works Area -->
            <section class="how-works section" style="background-color: #fff;">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay=".4s">Como funciona Classify</h2>
                                <p class="wow fadeInUp" data-wow-delay=".6s">
                                    O seu site preferido de publicação de anúcios.
                                    Venda tudo de forma rápida e fácil.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-12">
                            <!-- Start Single Work -->
                            <div class="single-work wow fadeInUp" data-wow-delay=".2s">
                                <span class="serial">01</span>
                                <h3>Create Account</h3>
                                <p>Lorem ipsum dolor sit amet constur adipisicing sed do eiusmod tempor incididunt labore.</p>
                            </div>
                            <!--/ End Single Work -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <!-- Start Single Work -->
                            <div class="single-work wow fadeInUp" data-wow-delay=".4s">
                                <span class="serial">02</span>
                                <h3>Post Your Ads</h3>
                                <p>Lorem ipsum dolor sit amet constur adipisicing sed do eiusmod tempor incididunt labore.</p>
                            </div>
                            <!--/ End Single Work -->
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <!-- Start Single Work -->
                            <div class="single-work wow fadeInUp" data-wow-delay=".6s">
                                <span class="serial">03</span>
                                <h3>Sell Your Item</h3>
                                <p>Lorem ipsum dolor sit amet constur adipisicing sed do eiusmod tempor incididunt labore.</p>
                            </div>
                            <!--/ End Single Work -->
                        </div>
                    </div>
                </div>
            </section>
            <!--/ End How Works Area -->

            <!-- Start Our Achievement Section -->
            <section class="our-achievement section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
                                <h3 class="counter"><span id="secondo1" class="countup" cup-end="1250">1250</span>+</h3>
                                <p>Regular Ads</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
                                <h3 class="counter"><span id="secondo2" class="countup" cup-end="350">350</span>+</h3>
                                <p>Locations</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                                <h3 class="counter"><span id="secondo3" class="countup" cup-end="2500">2500</span>+</h3>
                                <p>Reguler Members</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-12">
                            <div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
                                <h3 class="counter"><span id="secondo3" class="countup" cup-end="250">250</span>+</h3>
                                <p>Premium Ads</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ End Our Achievement Section -->

            <!-- Start Testimonials Section -->
            <section class="testimonials section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title align-center gray-bg">
                                <h2 class="wow fadeInUp" data-wow-delay=".4s">What People Say</h2>
                                <p class="wow fadeInUp" data-wow-delay=".6s">
                                    There are many variations of passages of Lorem
                                    Ipsum available, but the majority have suffered alteration in some form.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row testimonial-slider">
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-testimonial">
                                <div class="quote-icon">
                                    <i class="lni lni-quotation"></i>
                                </div>
                                <div class="author">
                                    <img src="/static/assets/images/testimonial/testi1.jpg" alt="#">
                                    <h4 class="name">Jane Anderson
                                        <span class="deg">Founder & CEO</span>
                                    </h4>
                                </div>
                                <div class="text">
                                    <p>
                                        "It’s amazing how much easier it has been to meet new people and create instant
                                        connections. I have the exact same personality, the only thing that has changed is my
                                        mindset and a few behaviors."
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-testimonial">
                                <div class="quote-icon">
                                    <i class="lni lni-quotation"></i>
                                </div>
                                <div class="author">
                                    <img src="/static/assets/images/testimonial/testi2.jpg" alt="#">
                                    <h4 class="name">Devid Samuyel
                                        <span class="deg">Web Developer</span>
                                    </h4>
                                </div>
                                <div class="text">
                                    <p>
                                        "It’s amazing how much easier it has been to meet new people and create instant
                                        connections. I have the exact same personality, the only thing that has changed is my
                                        mindset and a few behaviors."
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="single-testimonial">
                                <div class="quote-icon">
                                    <i class="lni lni-quotation"></i>
                                </div>
                                <div class="author">
                                    <img src="/static/assets/images/testimonial/testi3.jpg" alt="#">
                                    <h4 class="name">Jully Sulli
                                        <span class="deg">Ui/Ux Designer</span>
                                    </h4>
                                </div>
                                <div class="text">
                                    <p>
                                        "It’s amazing how much easier it has been to meet new people and create instant
                                        connections. I have the exact same personality, the only thing that has changed is my
                                        mindset and a few behaviors."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ End Testimonials Section -->

            <!-- Start Pricing Table Area 
            <section class="pricing-table section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay=".4s">Pricing Plan</h2>
                                <p class="wow fadeInUp" data-wow-delay=".6s">
                                    There are many variations of passages of Lorem
                                    Ipsum available, but the majority have suffered alteration in some form.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <!- Single Table ->
                            <div class="single-table wow fadeInUp" data-wow-delay=".2s">
                                <!- Table Head ->
                                <div class="table-head">
                                    <div class="price">
                                        <h2 class="amount">$00<span class="duration">/ Month</span></h2>
                                    </div>
                                    <h4 class="title">Free</h4>
                                </div>
                                <!- End Table Head ->
                                <!- Table List ->
                                <ul class="table-list">
                                    <li>One Listing</li>
                                    <li>Contact Display</li>
                                    <li>Image Gallery</li>
                                    <li>30 Days Availablity</li>
                                    <li>Non-Featured</li>
                                    <li>Business Tagline</li>
                                </ul>
                                <!- End Table List ->
                                <!- Table Bottom ->
                                <div class="button">
                                    <a class="btn" href="javascript:void(0)">Select Plan</a>
                                </div>
                                <!- End Table Bottom ->
                            </div>
                            <!- End Single Table ->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <!- Single Table ->
                            <div class="single-table wow fadeInUp" data-wow-delay=".4s">
                                <!- Table Head ->
                                <div class="table-head">
                                    <div class="price">
                                        <h2 class="amount">$59<span class="duration">/ Month</span></h2>
                                    </div>
                                    <h4 class="title">Standard</h4>
                                </div>
                                <!- End Table Head ->
                                <!- Table List ->
                                <ul class="table-list">
                                    <li>One Listing</li>
                                    <li>Contact Display</li>
                                    <li>Image Gallery</li>
                                    <li>60 Days Availablity</li>
                                    <li>Non-Featured</li>
                                    <li>Business Tagline</li>
                                </ul>
                                <!- End Table List ->
                                <!- Table Bottom ->
                                <div class="button">
                                    <a class="btn" href="javascript:void(0)">Select Plan</a>
                                </div>
                                <!- End Table Bottom ->
                            </div>
                            <!- End Single Table ->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                        <!- Single Table ->
                            <div class="single-table wow fadeInUp" data-wow-delay=".6s">
                                <!- Table Head ->
                                <div class="table-head">
                                    <div class="price">
                                        <h2 class="amount">$99<span class="duration">/ Month</span></h2>
                                    </div>
                                    <h4 class="title">Premium</h4>
                                </div>
                                <!- End Table Head ->
                                <!- Table List ->
                                <ul class="table-list">
                                    <li>One Listing</li>
                                    <li>Contact Display</li>
                                    <li>Image Gallery</li>
                                    <li>90 Days Availablity</li>
                                    <li>Non-Featured</li>
                                    <li>Business Tagline</li>
                                </ul>
                                <!- End Table List ->
                                <!- Table Bottom ->
                                <div class="button">
                                    <a class="btn" href="javascript:void(0)">Select Plan</a>
                                </div>
                                <!- End Table Bottom ->
                            </div>
                        <!- End Single Table ->
                        </div>
                    </div>
                </div>
            </section>
            <!-/ End Pricing Table Area -->

    </__content__>
</div>