<div metal:use-macro="load: ../shared/_layout.html">
	<__content__ metal:fill-slot="content" tal:omit-tag="True">

		<!-- Start Hero Area -->
		<section class="hero-area overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
						<div class="hero-text text-center">

							<!-- Start Hero Text -->
							<div class="section-heading">
								<h2 class="wow fadeInUp" data-wow-delay=".3s">Bem-vindo ao Classify</h2>
								<p class="wow fadeInUp" data-wow-delay=".5s">
									Aqui pode comprar e vender tudo, usados ou novos. <br>
									Desde carros, smartphones, computadores, propriedades, empregos e muito	mais.
								</p>
							</div>

							<!-- Start Search Form -->
							<form action="search" >
								<div class="search-form wow fadeInUp" data-wow-delay=".7s">
									<div class="row">

										<div class="col-lg-4 col-md-4 col-12 p-0">
											<div class="search-input">
												<label for="keyword"><i class="lni lni-search-alt theme-color"></i></label>
												<input type="text" name="keyword" id="keyword" placeholder="O que Procura?">
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-12 p-0">
											<div class="search-input">
												<label for="category"><i class="lni lni-grid-alt theme-color"></i></label>
												<select name="category" id="category">
													<option value="none" selected disabled>Categorias</option>
													<option value="none">Todas as Categorias</option>
													<__repeat__ tal:repeat="category list_category" tal:omit-tag="True">
														<option value="${category.name}">${category.name}</option>
													</__repeat__>
												</select>
											</div>
										</div>

										<div class="col-lg-3 col-md-3 col-12 p-0">
											<div class="search-input">
												<label for="location"><i class="lni lni-map-marker theme-color"></i></label>
												<select name="location" id="location">
													<option value="none" selected disabled>Localização</option>
													<option value="none">Todas as Localizações</option>
													<__repeat__ tal:repeat="district location_district" tal:omit-tag="True">
														<option value="${district.name}">${district.name}</option>
													</__repeat__>
												</select>
											</div>
										</div>

										<div class="col-lg-2 col-md-2 col-12 p-0">
											<div class="search-btn button">
												<button class="btn"><i class="lni lni-search-alt"></i> Pesquisar</button>
											</div>
										</div>

									</div>
								</div>
							</form>
							<!-- End Search Form -->

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Hero Area -->


		<!-- Start Categories Area -->
		<section class="categories">
			<div class="container">
				<div class="cat-inner">
					<div class="row">
						<div class="col-12 p-0">
							<div class="category-slider">
								<!-- Start Repeat Categories (Loop For) -->
								<__repeat__ tal:repeat="category list_category" tal:omit-tag="True">
									<!-- Start Single Category -->
									<a href="/adPost/?keyword=&category=${category.name}" class="single-cat">
										<div class="icon">
											<img src="${categories_images_url}/${category.image_url}" alt="#">
										</div>
										<h3>${category.name}</h3>
										<h5 class="total">${items_in_category[category.name]}</h5>
									</a>
									<!--/ End Single Category -->
								</__repeat__>
								<!--/ End Repeat Categories (Loop For) -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /End Categories Area -->


		<!-- Start Browse by Cities -->
		<section class="browse-cities section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2 class="wow fadeInUp" data-wow-delay=".4s">Pesquise por localidade</h2>
							<p class="wow fadeInUp" data-wow-delay=".6s">
								Pode pesquisar tudo o que precisa na sua localidade!
							</p>
						</div>
					</div>
				</div>
				<div class="row ">
					<__repeat__ tal:repeat="district section_district" tal:omit-tag="True">
						<div class="col-lg-4 col-md-4 col-12">
							<div class="single-city wow fadeInUp" data-wow-delay=".2s">
								<a href="/adPost/?keyword=&location=${district.name}" class="info-box">
									<div class="image">
										<img src="${districts_images_url}/${district.image_url}" alt="#">
									</div>
									<div class="content">
										<h4 class="name"> ${district.name}
											<span tal:define="item_count python: items_in_district[district.name]">
												${items_in_district[district.name]} ${'anúncio disponível' if item_count == 1 else 'anúncios disponíveis'}
											</span>
										</h4>
									</div>
									<div class="more-btn">
										<i class="lni lni-circle-plus"></i>
									</div>
								</a>
							</div>
						</div>
					</__repeat__>
				</div>
			</div>
		</section>
		<!--/ End Browse by Cities -->



		<!-- Start Our Achievement -->
		<section class="our-achievement section">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-12">
						<div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
							<h3 class="counter"><span id="secondo1" class="countup" cup-end="${num_items}">${num_items}</span></h3>
							<p>Anúncios</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-12">
						<div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
							<h3 class="counter"><span id="secondo2" class="countup" cup-end="${num_items}">${num_items}</span></h3>
							<p>Localizações</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-12">
						<div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
							<h3 class="counter"><span id="secondo2" class="countup" cup-end="${num_subcategories}">${num_subcategories}</span></h3>
							<p>Subcategorias</p>
						</div>
					</div>
					<!-- ainda não implementado
					<div class="col-lg-3 col-md-3 col-12">
						<div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
							<h3 class="counter"><span id="secondo3" class="countup" cup-end="250">250</span></h3>
							<p>Premium Ads</p>
						</div>
					</div>
					-->
					<div class="col-lg-3 col-md-3 col-12">
						<div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
							<h3 class="counter"><span id="secondo3" class="countup" cup-end="${num_users}">${num_users}</span></h3>
							<p>Utilizadores</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Our Achievement -->


		
		<!-- Start Trending Ads -->
		<section class="items-tab section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2 class="wow fadeInUp" data-wow-delay=".4s">Descubra anúncios para si</h2>
							<p class="wow fadeInUp" data-wow-delay=".6s">
								Encontre todo o que precisa e economize. Confira os anúncios recentes e as melhores ofertas!
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<button class="nav-link active" id="nav-latest-tab" data-bs-toggle="tab"
									data-bs-target="#nav-latest" type="button" role="tab"
									aria-controls="nav-latest" aria-selected="true">Últimos Anúncios</button>
								<button class="nav-link" id="nav-popular-tab" data-bs-toggle="tab"
									data-bs-target="#nav-popular" type="button" role="tab"
									aria-controls="nav-popular" aria-selected="false">Anúncios Populares</button>
								<button class="nav-link" id="nav-random-tab" data-bs-toggle="tab"
									data-bs-target="#nav-random" type="button" role="tab"
									aria-controls="nav-random" aria-selected="false">Anúncios Aleatórios</button>
							</div>
						</nav>
						<div class="tab-content" id="nav-tabContent">
							<!-- Start Latest Adds -->
							<div class="tab-pane fade show active" id="nav-latest" role="tabpanel" aria-labelledby="nav-latest-tab">
								<div class="row">
									<!-- Start Repeat Latest Adds (Loop For) -->
									<__repeat__ tal:repeat="item latest_items" tal:omit-tag="True">
										<div class="col-lg-3 col-md-4 col-12">
											<div class="single-item-grid main-page-img-grid">
												<div class="image">
													<a href="/adPost/${item.id}"><img src="${items_images_url}\${item.main_image_url}" alt="#"></a>
												</div>
												<div class="content">
													<a href="javascript:void(0)" class="tag">${item.subcategory.category.name}</a>
													<h3 class="title">
														<a href="/adPost/${item.id}">${item.title}</a>
													</h3>
													<p class="location">
														<a href="javascript:void(0)"><i class="lni lni-map-marker"></i>${item.district.name}</a>
													</p>
													<ul class="info">
														<li class="price">${item.price}€</li>
														<li tal:condition="is_logged_in" class="like toggle_favorite" data-id="${item.id}"><a href="javascript:void(0)"><i tal:attributes="class python: ' fa fa-heart favorited' if item.id in favorites else 'fa fa-heart-o'"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
									</__repeat__>
									<!--/ End Repeat Latest Adds (Loop For) -->
								</div>
							</div>
							<!--/ End Latest Adds -->

							<!-- Start Popular Adds -->
							<div class="tab-pane fade" id="nav-popular" role="tabpanel"	aria-labelledby="nav-popular-tab">
								<div class="row">
									<!-- Start Repeat Popular Adds (Loop For) -->
									<__repeat__ tal:repeat="item popular_items" tal:omit-tag="True">
										<div class="col-lg-3 col-md-4 col-12">
											<div class="single-item-grid main-page-img-grid">
												<div class="image">
													<a href="/adPost/${item.id}"><img src="${items_images_url}\${item.main_image_url}" alt="#"></a>
												</div>
												<div class="content">
													<a href="javascript:void(0)" class="tag">${item.subcategory.category.name}</a>
													<h3 class="title">
														<a href="/adPost/${item.id}">${item.title}</a>
													</h3>
													<p class="location">
														<a href="javascript:void(0)"><i class="lni lni-map-marker"></i>${item.district.name}</a>
													</p>
													<ul class="info">
														<li class="price">${item.price}€</li>
														<li tal:condition="is_logged_in" class="like toggle_favorite" data-id="${item.id}"><a href="javascript:void(0)"><i tal:attributes="class python: ' fa fa-heart favorited' if item.id in favorites else 'fa fa-heart-o'"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
									</__repeat__>
									<!--/ End Repeat Popular Adds (Loop For) -->
								</div>
							</div>
							<!--/ End Popular Adds -->

							<!-- Start Random Adds -->
							<div class="tab-pane fade" id="nav-random" role="tabpanel" aria-labelledby="nav-random-tab">
								<div class="row">
									<!-- Start Repeat Random Adds (Loop For) -->
									<__repeat__ tal:repeat="item random_items" tal:omit-tag="True">
										<div class="col-lg-3 col-md-4 col-12">
											<div class="single-item-grid main-page-img-grid">
												<div class="image">
													<a href="/adPost/${item.id}"><img src="${items_images_url}\${item.main_image_url}" alt="#"></a>													
												</div>
												<div class="content">
													<a href="javascript:void(0)" class="tag">${item.subcategory.category.name}</a>
													<h3 class="title">
														<a href="/adPost/${item.id}">${item.title}</a>
													</h3>
													<p class="location">
														<a href="javascript:void(0)"><i class="lni lni-map-marker"></i>${item.district.name}</a>
													</p>
													<ul class="info">
														<li class="price">${item.price}€</li>
														<li tal:condition="is_logged_in" class="like toggle_favorite" data-id="${item.id}"><a href="javascript:void(0)"><i tal:attributes="class python: ' fa fa-heart favorited' if item.id in favorites else 'fa fa-heart-o'"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
									</__repeat__>
									<!--/ End Repeat Random Adds (Loop For) -->
								</div>
							</div>
							<!--/ End Random Adds -->	
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Trending Ads -->



		<!-- Start Call Action Area -->
		<section class="call-action overlay section">
			<div class="container">
				<div class="row ">
					<div class="col-lg-8 offset-lg-2 col-12">
						<div class="inner">
							<div class="content">
								<h2 class="wow fadeInUp" data-wow-delay=".4s">
									Tem algo para vender?
								</h2>
								<p class="wow fadeInUp" data-wow-delay=".6s">
									Publique o seu anúncio gratuitamente no Classify
								</p>
								<div class="button wow fadeInUp" data-wow-delay=".8s">
									<a tal:condition="not is_logged_in" href="/account/register" class="btn">Publicar Agora</a>
									<a tal:condition="is_logged_in" href="/account/newAdPost" class="btn">Publicar Agora</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call Action Area -->



		<!-- Start How Works Area -->
		<section class="how-works section" style="background-color: #fff;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2 class="wow fadeInUp" data-wow-delay=".4s">Como Funciona</h2>
							<p class="wow fadeInUp" data-wow-delay=".6s">
								Junte-se à comunidade Classify hoje mesmo! Aproveite a nossa plataforma para vender 
								os seus artigos de forma rápida e eficiente, em apenas três passos simples:
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-12">
						<!-- Start Single Work -->
						<div class="single-work wow fadeInUp" data-wow-delay=".2s">
							<span class="serial">01</span>
							<h3>Crie uma Conta</h3>
							<p>Registe-se gratuitamente e crie a sua conta pessoal. É rápido e fácil!</p>
						</div>
						<!--/ End Single Work -->
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<!-- Start Single Work -->
						<div class="single-work wow fadeInUp" data-wow-delay=".4s">
							<span class="serial">02</span>
							<h3>Publique os seus Anúncios</h3>
							<p>
								Faça o upload das informações e imagens dos seus itens para criar anúncios atrativos. 
								Descreva-os detalhadamente e defina um preço justo.
							</p>
						</div>
						<!--/ End Single Work -->
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<!-- Start Single Work -->
						<div class="single-work wow fadeInUp" data-wow-delay=".6s">
							<span class="serial">03</span>
							<h3>Venda os seus Artigos</h3>
							<p>
								Aguarde pelas mensagens e ligações dos potenciais compradores interessados nos seus itens. 
								Negocie diretamente com eles e conclua a venda de forma segura.
							</p>
						</div>
						<!--/ End Single Work -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End How Works Area -->

				<!-- Start Pricing Table Area 
            <section class="pricing-table section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay=".4s">Pricing Plan</h2>
                                <p class="wow fadeInUp" data-wow-delay=".6s">
                                    There are many variations of passages of Lorem
                                    Ipsum available, but the majority have suffered alteration in some form.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <!- Single Table ->
                            <div class="single-table wow fadeInUp" data-wow-delay=".2s">
                                <!- Table Head ->
                                <div class="table-head">
                                    <div class="price">
                                        <h2 class="amount">$00<span class="duration">/ Month</span></h2>
                                    </div>
                                    <h4 class="title">Free</h4>
                                </div>
                                <!- End Table Head ->
                                <!- Table List ->
                                <ul class="table-list">
                                    <li>One Listing</li>
                                    <li>Contact Display</li>
                                    <li>Image Gallery</li>
                                    <li>30 Days Availablity</li>
                                    <li>Non-Featured</li>
                                    <li>Business Tagline</li>
                                </ul>
                                <!- End Table List ->
                                <!- Table Bottom ->
                                <div class="button">
                                    <a class="btn" href="javascript:void(0)">Select Plan</a>
                                </div>
                                <!- End Table Bottom ->
                            </div>
                            <!- End Single Table ->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <!- Single Table ->
                            <div class="single-table wow fadeInUp" data-wow-delay=".4s">
                                <!- Table Head ->
                                <div class="table-head">
                                    <div class="price">
                                        <h2 class="amount">$59<span class="duration">/ Month</span></h2>
                                    </div>
                                    <h4 class="title">Standard</h4>
                                </div>
                                <!- End Table Head ->
                                <!- Table List ->
                                <ul class="table-list">
                                    <li>One Listing</li>
                                    <li>Contact Display</li>
                                    <li>Image Gallery</li>
                                    <li>60 Days Availablity</li>
                                    <li>Non-Featured</li>
                                    <li>Business Tagline</li>
                                </ul>
                                <!- End Table List ->
                                <!- Table Bottom ->
                                <div class="button">
                                    <a class="btn" href="javascript:void(0)">Select Plan</a>
                                </div>
                                <!- End Table Bottom ->
                            </div>
                            <!- End Single Table ->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                        <!- Single Table ->
                            <div class="single-table wow fadeInUp" data-wow-delay=".6s">
                                <!- Table Head ->
                                <div class="table-head">
                                    <div class="price">
                                        <h2 class="amount">$99<span class="duration">/ Month</span></h2>
                                    </div>
                                    <h4 class="title">Premium</h4>
                                </div>
                                <!- End Table Head ->
                                <!- Table List ->
                                <ul class="table-list">
                                    <li>One Listing</li>
                                    <li>Contact Display</li>
                                    <li>Image Gallery</li>
                                    <li>90 Days Availablity</li>
                                    <li>Non-Featured</li>
                                    <li>Business Tagline</li>
                                </ul>
                                <!- End Table List ->
                                <!- Table Bottom ->
                                <div class="button">
                                    <a class="btn" href="javascript:void(0)">Select Plan</a>
                                </div>
                                <!- End Table Bottom ->
                            </div>
                        <!- End Single Table ->
                        </div>
                    </div>
                </div>
            </section>
            <!-/ End Pricing Table Area -->

		<!-- Start Why Choose Area -->
		<section class="why-choose section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2 class="wow fadeInUp" data-wow-delay=".4s">Porquê Escolher o Classify</h2>
							<p class="wow fadeInUp" data-wow-delay=".6s">
								Na plataforma de anúncios da Classify, oferecemos diversas 
								vantagens para tornar a sua experiência a melhor possível:
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="choose-content">
							<div class="row">
								<div class="col-lg-4 col-md-6 col-12">
									<!-- Start Single List -->
									<div class="single-list wow fadeInUp" data-wow-delay=".2s">
										<i class="lni lni-cog"></i>
										<h4>Plataforma Versátil</h4>
										<p>
											Nossa plataforma permite que compre e venda uma ampla variedade de produtos, desde 
											carros usados até telefones móveis. Econtrará tudo o que precisa em um só lugar.
										</p>
									</div>
									<!-- End Single List -->
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<!-- Start Single List -->
									<div class="single-list wow fadeInUp" data-wow-delay=".4s">
										<i class="lni lni-pointer-up"></i>
										<h4>Facilidade de Uso</h4>
										<p>
											Nossa plataforma é intuitiva e fácil de usar. Com navegação simplificada e recursos amigáveis, 
											você poderá encontrar e publicar anúncios de forma rápida e eficiente.
										</p>
									</div>
									<!-- End Single List -->
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<!-- Start Single List -->
									<div class="single-list wow fadeInUp" data-wow-delay=".6s">
										<i class="lni lni-layout"></i>
										<h4>Design Moderno e Personalizável</h4>
										<p>
											Nosso design limpo e moderno oferece uma experiência visualmente agradável. Além disso, 
											você pode personalizar de acordo com suas preferências para criar uma experiência única.
										</p>
									</div>
									<!-- End Single List -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why Choose Area -->

	</__content__>
</div>