<div metal:use-macro="load: ../shared/_layout.html">
	<__content__ metal:fill-slot="content" tal:omit-tag="True">

		<!-- Start Hero Area -->
		<section class="hero-area overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 offset-lg-1 col-md-12 col-12">
						<div class="hero-text text-center">

							<!-- Start Hero Text -->
							<div class="section-heading">
								<h2 class="wow fadeInUp" data-wow-delay=".3s">Bem-vindo ao Classify</h2>
								<p class="wow fadeInUp" data-wow-delay=".5s">
									Aqui pode comprar e vender tudo, usados ou novos. <br>
									Desde carros, smartphones, computadores, propriedades, empregos e muito
									mais.
								</p>
							</div>

							<!-- Start Search Form -->
							<div class="search-form wow fadeInUp" data-wow-delay=".7s">
								<div class="row">

									<div class="col-lg-4 col-md-4 col-12 p-0">
										<div class="search-input">
											<label for="keyword"><i class="lni lni-search-alt theme-color"></i></label>
											<input type="text" name="keyword" id="keyword" placeholder="O que
												procura?">
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-12 p-0">
										<div class="search-input">
											<label for="category"><i class="lni lni-grid-alt theme-color"></i></label>
											<select name="category" id="category">
												<option value="none" selected disabled>Categorias</option>
												<option value="none">Todas as Categorias</option>
												<__repeat__ tal:repeat="category list_category" tal:omit-tag="True">
													<option value="none">${category.category_name}</option>
												</__repeat__>
											</select>
										</div>
									</div>

									<div class="col-lg-3 col-md-3 col-12 p-0">
										<div class="search-input">
											<label for="location"><i class="lni lni-map-marker theme-color"></i></label>
											<select name="location" id="location">
												<option value="none" selected disabled>Localização</option>
												<option value="none">Todas as Localizações</option>
												<__repeat__ tal:repeat="location location_district" tal:omit-tag="True">
												<option value="none">${location.district_name}</option>
												</__repeat__>
											</select>
										</div>
									</div>

									<div class="col-lg-2 col-md-2 col-12 p-0">
										<div class="search-btn button">
											<button class="btn"><i class="lni lni-search-alt"></i> Pesquisar</button>
										</div>
									</div>

								</div>
							</div>
							<!-- End Search Form -->

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Hero Area -->


		<!-- Start Categories Area -->
		<section class="categories">
			<div class="container">
				<div class="cat-inner">
					<div class="row">
						<div class="col-12 p-0">
							<div class="category-slider">
								<!-- Start Repeat Categories (Loop For) -->
								<__repeat__ tal:repeat="category list_category" tal:omit-tag="True">
									<!-- Start Single Category -->
									<a href="${category.weblink}" class="single-cat">
										<div class="icon">
											<img src="/static/assets/images/categories/${category.icon}" alt="#">
										</div>
										<h3>${category.category_name}</h3>
										<h5 class="total">${category.count_items_category}</h5>
									</a>
									<!--/ End Single Category -->
								</__repeat__>
								<!--/ End Repeat Categories (Loop For) -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /End Categories Area -->


		<!-- Start Browse by Cities -->
		<section class="browse-cities section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2 class="wow fadeInUp" data-wow-delay=".4s">Browse By Cities</h2>
							<p class="wow fadeInUp" data-wow-delay=".6s">
								There are many variations of passages of Lorem
								Ipsum available, but the majority have suffered alteration in some form.
							</p>
						</div>
					</div>
				</div>
				<div class="row ">
					<div class="col-lg-4 col-md-4 col-12">
						<div class="single-city wow fadeInUp" data-wow-delay=".2s">
							<a href="category.html" class="info-box">
								<div class="image">
									<img src="/static/assets/images/cities/img1.jpg" alt="#">
								</div>
								<div class="content">
									<h4 class="name">
										New York City
										<span>155 Ads</span>
									</h4>
								</div>
								<div class="more-btn">
									<i class="lni lni-circle-plus"></i>
								</div>
							</a>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<div class="single-city wow fadeInUp" data-wow-delay=".4s">
							<a href="category.html" class="info-box">
								<div class="image">
									<img src="/static/assets/images/cities/img2.jpg" alt="#">
								</div>
								<div class="content">
									<h4 class="name">
										Philadelphia
										<span>288 Ads</span>
									</h4>
								</div>
								<div class="more-btn">
									<i class="lni lni-circle-plus"></i>
								</div>
							</a>
						</div>

					</div>
					<div class="col-lg-4 col-md-4 col-12">

						<div class="single-city wow fadeInUp" data-wow-delay=".6s">
							<a href="category.html" class="info-box">
								<div class="image">
									<img src="/static/assets/images/cities/img3.jpg" alt="#">
								</div>
								<div class="content">
									<h4 class="name">
										Los Angeles
										<span>95 Ads</span>
									</h4>
								</div>
								<div class="more-btn">
									<i class="lni lni-circle-plus"></i>
								</div>
							</a>
						</div>

					</div>
					<div class="col-lg-6 col-md-6 col-12">

						<div class="single-city wow fadeInUp" data-wow-delay=".2s">
							<a href="category.html" class="info-box">
								<div class="image">
									<img src="/static/assets/images/cities/img4.jpg" alt="#">
								</div>
								<div class="content">
									<h4 class="name">
										San Francisco
										<span>355 Ads</span>
									</h4>
								</div>
								<div class="more-btn">
									<i class="lni lni-circle-plus"></i>
								</div>
							</a>
						</div>

					</div>
					<div class="col-lg-6 col-md-6 col-12">

						<div class="single-city wow fadeInUp" data-wow-delay=".4s">
							<a href="category.html" class="info-box">
								<div class="image">
									<img src="/static/assets/images/cities/img5.jpg" alt="#">
								</div>
								<div class="content">
									<h4 class="name">
										Newe Orleans
										<span>76 Ads</span>
									</h4>
								</div>
								<div class="more-btn">
									<i class="lni lni-circle-plus"></i>
								</div>
							</a>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!--/ End Browse by Cities -->



		<!-- Start Our Achievement -->
		<section class="our-achievement section">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-12">
						<div class="single-achievement wow fadeInUp" data-wow-delay=".2s">
							<h3 class="counter"><span id="secondo1" class="countup" cup-end="1250">1250</span>+</h3>
							<p>Regular Ads</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-12">
						<div class="single-achievement wow fadeInUp" data-wow-delay=".4s">
							<h3 class="counter"><span id="secondo2" class="countup" cup-end="350">350</span>+</h3>
							<p>Locations</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-12">
						<div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
							<h3 class="counter"><span id="secondo3" class="countup" cup-end="2500">2500</span>+</h3>
							<p>Reguler Members</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-12">
						<div class="single-achievement wow fadeInUp" data-wow-delay=".6s">
							<h3 class="counter"><span id="secondo3" class="countup" cup-end="250">250</span>+</h3>
							<p>Premium Ads</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Our Achievement -->


		
		<!-- Start Trending Ads -->
		<section class="items-tab section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2 class="wow fadeInUp" data-wow-delay=".4s">Trending Ads</h2>
							<p class="wow fadeInUp" data-wow-delay=".6s">
								There are many variations of passages of Lorem
								Ipsum available, but the majority have suffered alteration in some form.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<button class="nav-link active" id="nav-latest-tab" data-bs-toggle="tab"
									data-bs-target="#nav-latest" type="button" role="tab"
									aria-controls="nav-latest" aria-selected="true">Últimos Anúncios</button>
								<button class="nav-link" id="nav-popular-tab" data-bs-toggle="tab"
									data-bs-target="#nav-popular" type="button" role="tab"
									aria-controls="nav-popular" aria-selected="false">Anúncios Populares</button>
								<button class="nav-link" id="nav-random-tab" data-bs-toggle="tab"
									data-bs-target="#nav-random" type="button" role="tab"
									aria-controls="nav-random" aria-selected="false">Anúncios Aleatórios</button>
							</div>
						</nav>
						<div class="tab-content" id="nav-tabContent">
							<!-- Start Latest Adds -->
							<div class="tab-pane fade show active" id="nav-latest" role="tabpanel" aria-labelledby="nav-latest-tab">
								<div class="row">
									<!-- Start Repeat Latest Adds (Loop For) -->
									<__repeat__ tal:repeat="item latest_items" tal:omit-tag="True">
										<div class="col-lg-3 col-md-4 col-12">
											<div class="single-item-grid">
												<div class="image">
													<a href="${item.weblink}"><img src="static\assets\images\items\${item.img_main}" alt="#"></a>
													<i class=" cross-badge lni lni-bolt" tal:condition="item.premium == 'Destacado'"></i>
													<span class="flat-badge sale" tal:condition="item.item_status == 'Vendido'">${item.item_status}</span>
												</div>
												<div class="content">
													<a href="javascript:void(0)" class="tag">${item.category}</a>
													<h3 class="title">
														<a href="${item.weblink}">${item.post_title}</a>
													</h3>
													<p class="location">
														<a href="javascript:void(0)"><i class="lni lni-map-marker"></i>${item.location_region}, ${item.location_district}</a>
													</p>
													<ul class="info">
														<li class="price">${item.price}€</li>
														<li class="like"><a href="javascript:void(0)"><i class="lni lni-heart"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
									</__repeat__>
									<!--/ End Repeat Latest Adds (Loop For) -->
								</div>
							</div>
							<!--/ End Latest Adds -->

							<!-- Start Popular Adds -->
							<div class="tab-pane fade" id="nav-popular" role="tabpanel"
								aria-labelledby="nav-popular-tab">
								<div class="row">
									<!-- Start Repeat Popular Adds (Loop For) -->
									<__repeat__ tal:repeat="item popular_items" tal:omit-tag="True">
										<div class="col-lg-3 col-md-4 col-12">
											<div class="single-item-grid">
												<div class="image">
													<a href="${item.weblink}"><img src="static\assets\images\items\${item.img_main}" alt="#"></a>
													<i class=" cross-badge lni lni-bolt" tal:condition="item.premium == 'Destacado'"></i>
													<span class="flat-badge sale" tal:condition="item.item_status == 'Vendido'">${item.item_status}</span>
												</div>
												<div class="content">
													<a href="javascript:void(0)" class="tag">${item.category}</a>
													<h3 class="title">
														<a href="${item.weblink}">${item.post_title}</a>
													</h3>
													<p class="location">
														<a href="javascript:void(0)"><i class="lni lni-map-marker"></i>${item.location_region}, ${item.location_district}</a>
													</p>
													<ul class="info">
														<li class="price">${item.price}€</li>
														<li class="like"><a href="javascript:void(0)"><i class="lni lni-heart"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
									</__repeat__>
									<!--/ End Repeat Popular Adds (Loop For) -->
								</div>
							</div>
							<!--/ End Popular Adds -->

							<!-- Start Random Adds -->
							<div class="tab-pane fade" id="nav-random" role="tabpanel" aria-labelledby="nav-random-tab">
								<div class="row">
									<!-- Start Repeat Random Adds (Loop For) -->
									<__repeat__ tal:repeat="item random_items" tal:omit-tag="True">
										<div class="col-lg-3 col-md-4 col-12">
											<div class="single-item-grid">
												<div class="image">
													<a href="${item.weblink}"><img src="static\assets\images\items\${item.img_main}" alt="#"></a>
													<i class=" cross-badge lni lni-bolt" tal:condition="item.premium == 'Destacado'"></i>
													<span class="flat-badge sale" tal:condition="item.item_status == 'Vendido'">${item.item_status}</span>
												</div>
												<div class="content">
													<a href="javascript:void(0)" class="tag">${item.category}</a>
													<h3 class="title">
														<a href="${item.weblink}">${item.post_title}</a>
													</h3>
													<p class="location">
														<a href="javascript:void(0)"><i class="lni lni-map-marker"></i>${item.location_region}, ${item.location_district}</a>
													</p>
													<ul class="info">
														<li class="price">${item.price}€</li>
														<li class="like"><a href="javascript:void(0)"><i class="lni lni-heart"></i></a></li>
													</ul>
												</div>
											</div>
										</div>
									</__repeat__>
									<!--/ End Repeat Random Adds (Loop For) -->
								</div>
							</div>
							<!--/ End Random Adds -->	
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Trending Ads -->



		<!-- Start Call Action Area -->
		<section class="call-action overlay section">
			<div class="container">
				<div class="row ">
					<div class="col-lg-8 offset-lg-2 col-12">
						<div class="inner">
							<div class="content">
								<h2 class="wow fadeInUp" data-wow-delay=".4s">
									Do you have something to sell?
								</h2>
								<p class="wow fadeInUp" data-wow-delay=".6s">
									Post your ad for free on ClassiGrids
								</p>
								<div class="button wow fadeInUp" data-wow-delay=".8s">
									<a href="javascript:void(0)" class="btn">Post an ad now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call Action Area -->



		<!-- Start How Works Area -->
		<section class="how-works section" style="background-color: #fff;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2 class="wow fadeInUp" data-wow-delay=".4s">How it Works</h2>
							<p class="wow fadeInUp" data-wow-delay=".6s">
								There are many variations of passages of Lorem
								Ipsum available, but the majority have suffered alteration in some form.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-12">
						<!-- Start Single Work -->
						<div class="single-work wow fadeInUp" data-wow-delay=".2s">
							<span class="serial">01</span>
							<h3>Create Account</h3>
							<p>Lorem ipsum dolor sit amet constur adipisicing sed do eiusmod tempor
								incididunt labore.</p>
						</div>
						<!--/ End Single Work -->
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<!-- Start Single Work -->
						<div class="single-work wow fadeInUp" data-wow-delay=".4s">
							<span class="serial">02</span>
							<h3>Post Your Ads</h3>
							<p>Lorem ipsum dolor sit amet constur adipisicing sed do eiusmod tempor
								incididunt labore.</p>
						</div>
						<!--/ End Single Work -->
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<!-- Start Single Work -->
						<div class="single-work wow fadeInUp" data-wow-delay=".6s">
							<span class="serial">03</span>
							<h3>Sell Your Item</h3>
							<p>Lorem ipsum dolor sit amet constur adipisicing sed do eiusmod tempor
								incididunt labore.</p>
						</div>
						<!--/ End Single Work -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End How Works Area -->

				<!-- Start Pricing Table Area 
            <section class="pricing-table section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title">
                                <h2 class="wow fadeInUp" data-wow-delay=".4s">Pricing Plan</h2>
                                <p class="wow fadeInUp" data-wow-delay=".6s">
                                    There are many variations of passages of Lorem
                                    Ipsum available, but the majority have suffered alteration in some form.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <!- Single Table ->
                            <div class="single-table wow fadeInUp" data-wow-delay=".2s">
                                <!- Table Head ->
                                <div class="table-head">
                                    <div class="price">
                                        <h2 class="amount">$00<span class="duration">/ Month</span></h2>
                                    </div>
                                    <h4 class="title">Free</h4>
                                </div>
                                <!- End Table Head ->
                                <!- Table List ->
                                <ul class="table-list">
                                    <li>One Listing</li>
                                    <li>Contact Display</li>
                                    <li>Image Gallery</li>
                                    <li>30 Days Availablity</li>
                                    <li>Non-Featured</li>
                                    <li>Business Tagline</li>
                                </ul>
                                <!- End Table List ->
                                <!- Table Bottom ->
                                <div class="button">
                                    <a class="btn" href="javascript:void(0)">Select Plan</a>
                                </div>
                                <!- End Table Bottom ->
                            </div>
                            <!- End Single Table ->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <!- Single Table ->
                            <div class="single-table wow fadeInUp" data-wow-delay=".4s">
                                <!- Table Head ->
                                <div class="table-head">
                                    <div class="price">
                                        <h2 class="amount">$59<span class="duration">/ Month</span></h2>
                                    </div>
                                    <h4 class="title">Standard</h4>
                                </div>
                                <!- End Table Head ->
                                <!- Table List ->
                                <ul class="table-list">
                                    <li>One Listing</li>
                                    <li>Contact Display</li>
                                    <li>Image Gallery</li>
                                    <li>60 Days Availablity</li>
                                    <li>Non-Featured</li>
                                    <li>Business Tagline</li>
                                </ul>
                                <!- End Table List ->
                                <!- Table Bottom ->
                                <div class="button">
                                    <a class="btn" href="javascript:void(0)">Select Plan</a>
                                </div>
                                <!- End Table Bottom ->
                            </div>
                            <!- End Single Table ->
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                        <!- Single Table ->
                            <div class="single-table wow fadeInUp" data-wow-delay=".6s">
                                <!- Table Head ->
                                <div class="table-head">
                                    <div class="price">
                                        <h2 class="amount">$99<span class="duration">/ Month</span></h2>
                                    </div>
                                    <h4 class="title">Premium</h4>
                                </div>
                                <!- End Table Head ->
                                <!- Table List ->
                                <ul class="table-list">
                                    <li>One Listing</li>
                                    <li>Contact Display</li>
                                    <li>Image Gallery</li>
                                    <li>90 Days Availablity</li>
                                    <li>Non-Featured</li>
                                    <li>Business Tagline</li>
                                </ul>
                                <!- End Table List ->
                                <!- Table Bottom ->
                                <div class="button">
                                    <a class="btn" href="javascript:void(0)">Select Plan</a>
                                </div>
                                <!- End Table Bottom ->
                            </div>
                        <!- End Single Table ->
                        </div>
                    </div>
                </div>
            </section>
            <!-/ End Pricing Table Area -->

		<!-- Start Why Choose Area -->
		<section class="why-choose section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2 class="wow fadeInUp" data-wow-delay=".4s">Why Choose Us</h2>
							<p class="wow fadeInUp" data-wow-delay=".6s">
								There are many variations of passages of Lorem
								Ipsum available, but the majority have suffered alteration in some form.
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="choose-content">
							<div class="row">
								<div class="col-lg-4 col-md-6 col-12">
									<!-- Start Single List -->
									<div class="single-list wow fadeInUp" data-wow-delay=".2s">
										<i class="lni lni-book"></i>
										<h4>Fully Documented</h4>
										<p>
											Buy and sell everything from used cars to mobile
											phones and computer or search for property.
										</p>
									</div>
									<!-- End Single List -->
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<!-- Start Single List -->
									<div class="single-list wow fadeInUp" data-wow-delay=".4s">
										<i class="lni lni-leaf"></i>
										<h4>Clean & Modern Design</h4>
										<p>
											Buy and sell everything from used cars to mobile
											phones and computer or search for property.
										</p>
									</div>
									<!-- End Single List -->
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<!-- Start Single List -->
									<div class="single-list wow fadeInUp" data-wow-delay=".6s">
										<i class="lni lni-cog"></i>
										<h4>Completely Customizable</h4>
										<p>
											Buy and sell everything from used cars to mobile
											phones and computer or search for property.
										</p>
									</div>
									<!-- End Single List -->
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<!-- Start Single List -->
									<div class="single-list wow fadeInUp" data-wow-delay=".2s">
										<i class="lni lni-pointer-up"></i>
										<h4>User Friendly</h4>
										<p>
											Buy and sell everything from used cars to mobile
											phones and computer or search for property.
										</p>
									</div>
									<!-- End Single List -->
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<!-- Start Single List -->
									<div class="single-list wow fadeInUp" data-wow-delay=".4s">
										<i class="lni lni-layout"></i>
										<h4>Awesome Layout</h4>
										<p>
											Buy and sell everything from used cars to mobile
											phones and computer or search for property.
										</p>
									</div>
									<!-- End Single List -->
								</div>
								<div class="col-lg-4 col-md-6 col-12">
									<!-- Start Single List -->
									<div class="single-list wow fadeInUp" data-wow-delay=".6s">
										<i class="lni lni-laptop-phone"></i>
										<h4>Fully Responsive</h4>
										<p>
											Buy and sell everything from used cars to mobile
											phones and computer or search for property.
										</p>
									</div>
									<!--/ End Single List -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why Choose Area -->

	</__content__>
</div>