<div metal:use-macro="load: ../layout/_layout.html">
    <div metal:fill-slot="content" tal:omit-tag="True">
        

        <!--
        <head>
            <title>Error 404 - ClassiGrids Classified Ads and Listing Website Template.</title>
        </head>
        -->


        <!-- Start Error Area -->
        <div class="error-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="error-content">
                            <h1>Erro 404</h1>
                            <h2>Não encontrado</h2>
                            <p>A página pode ter sido eliminada</p>
                            <div class="button">
                                <a href="index.html" class="btn">Ir para Página Principal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Error Area -->


        
        <script>
            window.onload = function () {
                window.setTimeout(fadeout, 500);
            }
        
            function fadeout() {
                document.querySelector('.preloader').style.opacity = '0';
                document.querySelector('.preloader').style.display = 'none';
            }
        </script>




    </div>
</div>