<div metal:define-slot="dashboard_header" tal:omit-tag="True">
	Shared Content
</div>

<section class="dashboard section">
	<div class="container">
		<div class="row">

			<div class="col-lg-3 col-md-4 col-12">
				<div class="dashboard-sidebar">
					<div class="user-image">
						<img src="${users_images_url}/${user.profile_image}" alt="#" />
						<h3>${name}</h3>
					</div>
					<div class="dashboard-menu">
						<ul>
							<li tal:condition="exists: current">
								<a tal:attributes="class 'active' if current == 'account' else ''" href="/account">
								  <i class="lni lni-dashboard"></i> Perfil
								</a>
							  </li>
							  <li tal:condition="exists: current">
								<a tal:attributes="class 'active' if current == 'edit' else ''" href="/account/profileSettings">
								  <i class="lni lni-pencil-alt"></i> Editar Perfil
								</a>
							  </li>
							  <li tal:condition="exists: current">
								<a tal:attributes="class 'active' if current == 'ads' else ''" href="/account/myAds">
								  <i class="lni lni-pencil-alt"></i> Meus Anúncios
								</a>
							  </li>
							  <li tal:condition="exists: current">
								<a tal:attributes="class 'active' if current == 'fav' else 'dd'" href="/account/favoritesAds">
								  <i class="lni lni-heart"></i> Favoritos
								</a>
							  </li>
							  <li tal:condition="exists: current">
								<a tal:attributes="class 'active' if current == 'new' else 'dd'" href="/account/newAdPost">
								  <i class="lni lni-bolt-alt"></i> Publicar Anúncio
								</a>
							  </li>
							  <li tal:condition="exists: current">
								<a tal:attributes="class 'active' if current == 'msgs' else 'dd'" href="/account/messages">
								  <i class="lni lni-envelope"></i> Mensagens
								</a>
							  </li>
							  <li tal:condition="exists: current">
								<a tal:attributes="class 'active' if current == 'close' else 'dd'" href="/account/deleteAccount">
								  <i class="lni lni-trash"></i> Fechar conta
								</a>
							  </li>
							<!-- OPCIONAL
							<li>
								<a href="/account/invoice" ><i class="lni lni-printer"></i> Histórico de Compras</a>
							</li>
							-->
						</ul>
						<div class="button">
							<a class="btn" href="/account/logout">Sair</a>
						</div>
					</div>
				</div>
			</div>

			
			<div metal:define-slot="dashboard_content" tal:omit-tag="True">
				Shared Content
			</div>

		</div>
	</div>	
</section>			

