<div class="breadcrumbs">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="breadcrumbs-content">
                    <h1 class="page-title">Anúncios</h1>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <ul class="breadcrumb-nav">
                    <li><a href="/">Página Principal</a></li>
                    <li>Anúncios</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="category-page section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="category-sidebar">
                    <div class="single-widget search">
                        <h3>Procurar Anúncios</h3>
                        <form action="#">
                            <input type="text" placeholder="Procure aqui..." />
                            <button type="submit"><i class="lni lni-search-alt"></i></button>
                        </form>
                    </div>

                    <div class="single-widget">
                        <h3>Categorias</h3>
                        <ul class="list">
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-dinner"></i> Todas as Categorias<span>250</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-dinner"></i> Hotel & Travels<span>15</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-control-panel"></i> Services<span>20</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-bullhorn"></i> Marketing<span>55</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-home"></i> Real Estate<span>35</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-bolt"></i> Electronics<span>60</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-tshirt"></i> Dress & Clothing<span>55</span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-diamond-alt"></i> Jewelry & Accessories<span>45</span></a>
                            </li>
                        </ul>
                    </div>

                    <div class="single-widget range">
                        <h3>Price Range</h3>
                        <input type="range" class="form-range" name="range" step="1" min="0" max="1000" value="10" onchange="rangePrimary.value=value"/>
                        <div class="range-inner">
                            <label>$</label>
                            <input type="text" id="rangePrimary" placeholder="10" />
                        </div>
                    </div>

                    <div class="single-widget condition">
                        <h3>Condition</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1"/>
                            <label class="form-check-label" for="flexCheckDefault1">Todos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2"/>
                            <label class="form-check-label" for="flexCheckDefault2">Novo</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3"/>
                            <label class="form-check-label" for="flexCheckDefault3">Usado</label>
                        </div>
                    </div>
                    <!-- opcional
                    <div class="single-widget banner">
                        <h3>Advertisement</h3>
                        <a href="javascript:void(0)">
                            <img src="/static/assets/images/banner/banner.jpg" alt="#" />
                        </a>
                    </div>
                    -->
                </div>
            </div>
            


            <div metal:define-slot="search_content" tal:omit-tag="True">
                Shared Content
            </div>


        </div>
    </div>
</section>